form{
    position: absolute ;    /* 位置（基準） */
    width: 100%    /* 横幅（基準） */
}

/* レスポンシブル 1400px */
@media (min-width: 1400px) {
    /* 名言一覧 */
    .table {
        /* テーブル */
        position: absolute ;    /* テーブル（基準） */
        top: 400px;    /* テーブル（上からの高さ） */
        left: 50%;    /* テーブル（中央） */
        transform: translateY(-50%) translateX(-50%);    /* テーブル（中央） */
        width: 1200px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
        font-size: 20px;    /* 文字サイズ */
    }
    /* 検索 */
    .search_all{
        /* Box */
        position: absolute ;    /* Box（基準） */
        top: 180px;    /* Box（上からの高さ） */
        left: 56%;    /* Box（左） */
        display: inline-flex;    /* 要素の横並び */
    }
    /* 検索表示 */
    .search {
        /* 文字 */
        position: absolute ;    /* 文字（基準） */
        top: 150px;    /* 文字（上からの高さ） */
        left: 56%;    /* 文字（左） */
        width: 350px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
    }
    /* 検索Box */
    .search_box {
        /* Box */
        position: absolute ;    /* Box（基準） */
        width: 300px;    /* 横幅 */
    }
    /* 検索ボタン */
    .search_button {
        /* ボタン */
        position: absolute ;    /* ボタン（基準） */
        left: 299px;    /* 文字（左） */
    }
}
/* レスポンシブル 1400px */
@media (max-width: 1400px) {
    /* 名言一覧 */
    .table {
        /* テーブル */
        position: absolute ;    /* テーブル（基準） */
        top: 400px;    /* テーブル（上からの高さ） */
        left: 50%;    /* テーブル（中央） */
        transform: translateY(-50%) translateX(-50%);    /* テーブル（中央） */
        width: 900px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
        font-size: 15px;    /* 文字サイズ */
    }
    /* 検索 */
    .search_all{
        /* Box */
        position: absolute ;    /* Box（基準） */
        top: 180px;    /* Box（上からの高さ） */
        left: 60%;    /* Box（左） */
        display: inline-flex;    /* 要素の横並び */
    }
    /* 検索表示 */
    .search {
        /* 文字 */
        position: absolute ;    /* 文字（基準） */
        top: 150px;    /* 文字（上からの高さ） */
        left: 60%;    /* 文字（左） */
        width: 350px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
    }
    /* 検索Box */
    .search_box {
        /* Box */
        position: absolute ;    /* Box（基準） */
        width: 250px;    /* 横幅 */
    }
    /* 検索ボタン */
    .search_button {
        /* ボタン */
        position: absolute ;    /* ボタン（基準） */
        left: 249px;    /* 文字（左） */
    }
}
/* レスポンシブル 992px */
@media (max-width: 992px) {
    /* 名言一覧 */
    .table {
        /* テーブル */
        position: absolute ;    /* テーブル（基準） */
        top: 400px;    /* テーブル（上からの高さ） */
        left: 50%;    /* テーブル（中央） */
        transform: translateY(-50%) translateX(-50%);    /* テーブル（中央） */
        width: 700px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
        font-size: 15px;    /* 文字サイズ */
    }
    /* 検索 */
    .search_all{
        /* Box */
        position: absolute ;    /* Box（基準） */
        top: 180px;    /* Box（上からの高さ） */
        left: 55%;    /* Box（左） */
        display: inline-flex;    /* 要素の横並び */
    }
    /* 検索表示 */
    .search {
        /* 文字 */
        position: absolute ;    /* 文字（基準） */
        top: 150px;    /* 文字（上からの高さ） */
        left: 55%;    /* 文字（左） */
        width: 350px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
    }
    /* 検索Box */
    .search_box {
        /* Box */
        position: absolute ;    /* Box（基準） */
        width: 250px;    /* 横幅 */
    }
    /* 検索ボタン */
    .search_button {
        /* ボタン */
        position: absolute ;    /* ボタン（基準） */
        left: 249px;    /* 文字（左） */
    }
}
/* レスポンシブル 768px */
@media (max-width: 768px) {
    /* 名言一覧 */
    .table {
        /* テーブル */
        position: absolute ;    /* テーブル（基準） */
        top: 400px;    /* テーブル（上からの高さ） */
        left: 50%;    /* テーブル（中央） */
        transform: translateY(-50%) translateX(-50%);    /* テーブル（中央） */
        width: 500px;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
        font-size: 15px;    /* 文字サイズ */
    }
    /* 検索 */
    .search_all{
        /* Box */
        position: absolute ;    /* Box（基準） */
        top: 180px;    /* Box（上からの高さ） */
        left: 50%;    /* Box（左） */
        display: inline-flex;    /* 要素の横並び */
    }
    /* 検索表示 */
    .search {
        /* 文字 */
        position: absolute ;    /* 文字（基準） */
        top: 150px;    /* 文字（上からの高さ） */
        left: 50%;    /* 文字（左） */
        width: 350px;    /* 横幅 */
        font-size: 13px;    /* 文字サイズ */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
    }
    /* 検索Box */
    .search_box {
        /* Box */
        position: absolute ;    /* Box（基準） */
        width: 220px;    /* 横幅 */
        font-size: 13px;    /* 文字サイズ */
    }
    /* 検索ボタン */
    .search_button {
        /* ボタン */
        position: absolute ;    /* ボタン（基準） */
        left: 219px;    /* 文字（左） */
        font-size: 13px;    /* 文字サイズ */
    }
}
/* レスポンシブル 575px */
@media (max-width: 576px) {
    /* 名言一覧 */
    .table {
        /* テーブル */
        position: absolute ;    /* テーブル（基準） */
        top: 500px;    /* テーブル（上からの高さ） */
        left: 50%;    /* テーブル（中央） */
        transform: translateY(-50%) translateX(-50%);    /* テーブル（中央） */
        width: 70%;    /* 横幅 */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
        font-size: 15px;    /* 文字サイズ */
    }

    /* 検索 */
    .search_all{
        /* Box */
        position: absolute ;    /* Box（基準） */
        top: 230px;    /* Box（上からの高さ） */
        left: 45%;    /* Box（左） */
        display: inline-flex;    /* 要素の横並び */
    }
    /* 検索表示 */
    .search {
        /* 文字 */
        position: absolute ;    /* 文字（基準） */
        top: 200px;    /* 文字（上からの高さ） */
        left: 45%;    /* 文字（左） */
        width: 350px;    /* 横幅 */
        font-size: 10px;    /* 文字サイズ */
        font-family: "游明朝 Demibold" ;   /* 文字フォント；游明朝 Demibold */
    }
    /* 検索Box */
    .search_box {
        /* Box */
        position: absolute ;    /* Box（基準） */
        width: 170px;    /* 横幅 */
        font-size: 10px;    /* 文字サイズ */
    }
    /* 検索ボタン */
    .search_button {
        /* ボタン */
        position: absolute ;    /* ボタン（基準） */
        left: 169px;    /* 文字（左） */
        font-size: 10px;    /* 文字サイズ */
    }
}